* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
    
}
.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #f8f8f8;
    font-size: 14px;
}

nav ul li a:hover {
    color: rgb(211, 43, 226);
}

.row {
    color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2 {
    font-size: 54px;
}

.col-1 h4 {
    font-size: 30px;
    color: rgb(211, 43, 226);
    font-weight: 100;
    margin: 20px 0 10px;
}

button {
    width: 140px;
    border: 1px;
    border-color: #f8f8f8;
    padding: 12px 10px;
    outline: 1px;
    color: #f8f8f8;
    background: linear-gradient(to right, #101010, rgb(211, 43, 226));
}

